{% extends "shop/base.html" %}
{% load static %}
{% block title %}Graduation Work{% endblock %}
{% block content %}
<div class="container mt-3">

  <div class="row">
    <div class="col-lg-6 col-md-9 col-sm-12 order-md-2 mb-4">
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-muted">Ваша корзина</span>
        <span class="badge badge-secondary badge-pill">#</span>
      </h4>
        {% for item in cart %}
            {% with product=item.product %}
      <ul class="list-group mb-3">

        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">{{ product.name }}</h6>
            <small class="text-muted">{{ product.description }}</small>
          </div>
          <span class="text-muted">{{ item.quantity }}</span>
            <a href="{% url "cart:cart_remove" product.id%}">Удалить</a>
{#            <span class="text-muted">{{ item.price * item.quantity }}руб.</span>#}
        </li>



      </ul>
            {% endwith %}
{% endfor %}
    Итоговая сумма: {{ cart.get_total_price }}руб.
      <a href="{% url "orders:order_create" %}" class="button">
    Заказать
</a>
    </div>
  </div>

</div>
{% endblock %}