{% extends "base.html" %}
{% load static %}
{% block title %}Graduation Work{% endblock %}
{% block phone %}<span class="sr-only">(current)</span>{% endblock %}





{% block content %}
<main role="main">


  <div class="container mt-3">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-12">
        <h2>{{ product.name }}</h2>

        <img src="{{ product.photo.url }}" width="120">

        <p>{{ get_product.description }}</p>
        <form action="{% url "cart:cart_add" product.id %}" method="post">
    {{ cart_product_form }}
    {% csrf_token %}
    <input type="submit" value="Добавить в корзину">
</form>
        </form>
      </div>
    </div>
    <hr>
{#    {{ get_product.comments_products.all }}#}
    {% for item in product.comments_products.all %}
        <ul>
        <li>
    <span>Автор: {{ item.author }}</span><br>
            <span>Дата создания: {{ item.create_date }}</span><br>
            <span>Оценка пользователя: {{ item.rating }}</span><br><br>

    {{ item.text }}
        </li>
    </ul>
    <hr>
    {% endfor %}
    <div class="row">
      <div class="col-lg-6 col-md-8 col-sm-12">
        <h4>Оставте отзыв:</h4>
        <form action="" id="add_form" method="post">
            {% csrf_token %}
            {{ form.as_p }}
        </form>
          <button form="add_form" type="submit" class="btn btn-primary">Добавить</button>
{#        <form action="./merch/1/feedback" method="post">#}
{#          <input type="hidden" name="csrfmiddlewaretoken"#}
{#                 value="N4vcBqzjoYkU7OTDuAT8hq8srpvYX44nJsswuP7e3EYg0Hq8DgxuR0eiXWbSr5RZ">#}
{#          <div class="form-group">#}
{#            <label for="name">Имя</label>#}
{#            <input type="text" class="form-control" id="name" aria-describedby="nameHelp"#}
{#                   placeholder="Представтесь" name="name" data-cip-id="name">#}
{#          </div>#}
{#          <div class="form-group">#}
{#            <label for="content">Содержание</label>#}
{#            <textarea class="form-control" id="content" placeholder="Содержание"#}
{#                      name="description"></textarea>#}
{#          </div>#}
{##}
{#          <div class="form-check">#}
{#            <input class="form-check-input" type="radio" name="mark" id="mark1" value="1">#}
{#            <label class="form-check-label" for="mark1">#}
{#              1#}
{#            </label>#}
{#          </div>#}
{##}
{#          <div class="form-check">#}
{#            <input class="form-check-input" type="radio" name="mark" id="mark2" value="2">#}
{#            <label class="form-check-label" for="mark2">#}
{#              2#}
{#            </label>#}
{#          </div>#}
{##}
{#          <div class="form-check">#}
{#            <input class="form-check-input" type="radio" name="mark" id="mark3" value="3">#}
{#            <label class="form-check-label" for="mark3">#}
{#              3#}
{#            </label>#}
{#          </div>#}
{##}
{#          <div class="form-check">#}
{#            <input class="form-check-input" type="radio" name="mark" id="mark4" value="4">#}
{#            <label class="form-check-label" for="mark4">#}
{#              4#}
{#            </label>#}
{#          </div>#}
{##}
{#          <div class="form-check">#}
{#            <input class="form-check-input" type="radio" name="mark" id="mark5" value="5">#}
{#            <label class="form-check-label" for="mark5">#}
{#              5#}
{#            </label>#}
{#          </div>#}
{##}
{#          <button type="submit" class="btn btn-primary">Оставить</button>#}
{#        </form>#}
      </div>
    </div>

  </div> <!-- /container -->


</main>
{% endblock %}